// @import 'nav';
// @import 'footer';
.hidden {
   visibility: hidden;
}

// nav
.nav-container {
   background-color: #ffffff;
   min-height: 80px;
   max-height: 158px;
   border-bottom: 1px solid #dbdbdb;
   .inner-nav-container {
      margin-top: 20px;
      .instagram-logo-div {
         text-align: center;
         .fa-instagram {
            font-size: 35px;
            margin-right: 10px;
            padding-right: 18px;
            border-right: 1px solid black;
            color: black;
         }
         img.instagram-text-logo {
            max-width: 124px;
            padding-bottom: 9px;
            padding-left: 5px;
         }
      }
      .search-input-div {
         padding-bottom: 15px;
         input {
            width: 70%;
            display: inline;
            margin-left: 76px;
            font-size: 14px;
            text-align: center;
            background: #fafafa;
         }
      }
      .nav-links-div {
         margin-top: -3px;
         text-align: center;
         padding-right: 40px;
         .nav-links {
            display: inline-block;
            .fa-home {
               font-size: 35px;
            }
            .fa-plus {
               font-size: 22px;
               padding-right: 2px;
            }
            .fa-file-image-o {
               font-size: 35px;
            }
            li {
               display: inline-block;
               padding: 0 8px;
            }
         }
      }
   }
}

// home
.main-content {
   margin-top: 30px;
   margin-bottom: 50px;
   .list-of-images {
      margin-bottom: 10px;
      img {
         width: 265px;
         height: 200px;
         border-radius: 5px;
         border: 1px solid gray;
         margin-top: 10px;
         margin-bottom: 5px;
      }
      i.fa-heart {
         font-size: 18px;
      }
      .photo-likes {
         font-size: 18px;
         font-family: 'Molengo', sans-serif;
         position: absolute;
         top: 178px;
         left: 215px;
         color: lightgray;
      }
      .photo-title {
         font-size: 16px;
         font-family: 'Molengo', sans-serif;
      }
      .photo-time-posted {
         font-size: 16px;
         font-family: 'Molengo', sans-serif;
      }
   }
}

// photo details
.photo-details {
   margin-top: 30px;
   margin-bottom: 50px;
   h2 {
      text-align: center;
      margin-bottom: 40px;
   }
   img {
      border-radius: 5px;
      border: 1px solid gray;
      max-width: 100%;
      max-height: 450px;
   }
   .photo-details-info {
      font-size: 26px;
      font-family: 'Molengo', sans-serif;
      font-weight: 500;
      i.fa-heart-o {
         padding-right: 4px;
      }
   }
}

// add a photo
.add-photo {
   margin-top: 30px;
   margin-bottom: 50px;
   h2 {
      text-align: center;
   }
}

// footer 
footer {
   background-color: #337AB7;
   height: 100px;
   color: white;
   margin-top: 40px;
   .copyright-info {
      text-align: center;
      padding-top: 9px;
   }
}
