<div class="container main-content">
   <div class="row">
      <div class="col-md-3 list-of-images" ng-repeat="photo in controller.photos track by $index">
         <img src="{{photo.url}}" ng-dblclick="controller.onClickLike(photo._id)" ng-click="controller.onClickDetails(photo._id,photo)" class="img-responsive">
         <i class="fa fa-heart" aria-hidden="true" ng-dblclick="controller.onClickLike(photo._id,photo)"></i>
         <span class="photo-likes">{{photo.likes}}</span class="photo-likes">
      </div>
   </div>
</div>
