<div class="container main-content">
   <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 list-of-images" ng-repeat="photo in controller.photos track by $index">
         <div class="animated-div center-block">
            <img data-id="{{photo._id}}" src="{{photo.url}}" ui-sref="details(photo._id)" ng-click="controller.onClickDetails(photo._id,photo)" class="img-responsive returned-image center-block">
            <span class="photo-likes center-block"><i class="fa fa-heart center-block" aria-hidden="true"></i> = {{photo.likes}}</span>
         </div>
         <i class="fa fa-heart animated wobble" aria-hidden="true" ng-dblclick="controller.onClickLike(photo._id,photo,$event)"></i>
         <br>
         <span class="photo-title">{{photo.title}}</span>
         <br>
         <span class="photo-time-posted">posted: {{photo.posted | date:'mediumDate'}}</span>
      </div>
   </div>
</div>
