<div class="nav-container container-fluid">
   <div class="inner-nav-container container">
      <div class="row ">
         <div class="col-md-4 col-xs-12 instagram-logo-div">
            <a ui-sref='home'><i class="fa fa-instagram" aria-hidden="true"></i><span class="instagram-logo-text">Hipstagram</span></a>
         </div>
         <div class="col-md-4 col-xs-12 search-input-div">
            <form ng-submit="controller.submit(controller.form)">
               <input type="text" class="form-control" name="photourl" ng-model="controller.form.photourl" placeholder="search">
               <input class="btn btn-success hidden" type="submit" value="Add a new photo">
            </form>
         </div>
         <div class="col-md-4 col-xs-12 nav-links-div">
            <ul class="nav-links">
               <li><a ui-sref='home'><i class="fa fa-home" aria-hidden="true"></i></a></li>
               <li><a ui-sref='addphoto'><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-file-image-o" aria-hidden="true"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
